.card {
    border-top: 10px solid lightskyblue;
    text-indent: 0.5ex;
    background-color: rgba(191, 191, 191, 0.671);
  }

.skill {
    text-indent: 1ex;
  }

.container{
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-flow: row wrap;
  justify-content: space-around;
}